<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>

<!-- Bootstrap CSS -->
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

<!-- Your custom CSS -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">

</head>
<body>

        <a href="{{ url_for('login') }}" class="btn custom-btn">PLAY</a>
    </div>
</body>
</html>


